<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        SymfonyYAMLing&nbsp;|&nbsp;{% block title %}{% endblock %}
    </title>
    {{ include('core/stylesheets.html.twig') }}
</head>
<body>
{% block body %}{% endblock %}
</body>

</html>